/* rolling-head s */
.rolling-wrap{
	height: 93.5%;
}
.rolling-wrap .rolling-head{

	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 6%;
}
.rolling-wrap .rolling-head>div{

}
.rolling-wrap .rolling-content{
	background-color: #eee;
}
.rolling-wrap .rolling-content .rolling-reci,.rolling-packing{
	float: left;
	width: 50%;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	border-top: 1px solid  #DCDEE3;
	border-bottom: 1px solid #DCDEE3;
	box-sizing: border-box;
}
.rolling-packing{
	background-color: white;
}
.rolling-active{
	background-color: #F7F7F7 !important;
	color: #FF6C0A;
}
.rolling-wrap .rolling-content .rolling-if{
	padding:0 0.6rem 0.6rem;
	display: flex;
	flex-wrap: wrap;
}
.rolling-wrap .rolling-content .rolling-if .rolling-item{
	padding: 0.5rem;
	border: 1px solid #DCDEE3;
	margin-left: 0.8rem;
	margin-top: 0.6rem;
	box-sizing: border-box;
}
.choose-active {
    color: #FF6C0A;
    border: 1px solid #FF6C0A !important;
    /* box-sizing: border-box; */
}
.rolling-content .params{
	background-color: white;
}
.rolling-content .params>div{
	line-height: 2rem;
	padding: 0 5%;
}
/* rolling-head e */

/* comprehensive s */
.comprehensive-data{
	height: 100%;
}
.comprehensive_list{
	background-color: #eee;
	overflow-y: auto;
	height: 80%;
}
.comprehensive_list .comprehensive-item{
	padding: 0 0;
	margin-top: 1rem;
	background-color: white;
}
.comprehensive_list .comprehensive-item .comprehensive-con{
	padding-bottom: 0.5rem;
}
.comprehensive_list .comprehensive-item>div:after{
	content: '';
	display: block;
	clear: both;
}
.comprehensive_list .comprehensive-item>div span{
	height: 1.5rem;
	line-height: 1.5rem;
	width: 50%;
	float: left;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
	box-sizing: border-box;
}
#comprehensive .bottom-submit{
	height: 20%;
	position: relative;
}
#comprehensive .bottom-submit .bottom-btn{
	width: 90%;
    height: 30%;
    color: #fff;
    position: absolute;
    background-color: #1DACFA;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.4rem;
    text-align: center;
}

/* comprehensive e */
/* auxiliaryExaminationDetails s */
.auxiliaryExaminationDetails-con{
	padding-top: 1rem;
	background-color: #eee;
}
.auxiliaryExaminationDetails-con .details-info{
	height: 1.8rem;
	line-height: 1.8rem;
	background-color: white;
}
.auxiliaryExaminationDetails-con .details-info:first-child{
	padding-top: 0.4rem;
}
.auxiliaryExaminationDetails-con .details-info:last-child{
	padding-bottom: 0.4rem;
}
.auxiliaryExaminationDetails-con .details-info .left{
	display: block;
	margin-left: 1rem;
	float: left;
	color: #8A8A8A;
}
/* auxiliaryExaminationDetails e */
/* 已处理的 e */
.word-nowrap{
	white-space: nowrap;
	text-overflow: ellipsis ;
	overflow:hidden;
}
#hasHandled .header-right{
	height: 1.5rem;
	float: right;
	background: url(../images/filter.png) no-repeat center center;
	width: 30%;
}
#hasHandled .MaterialCheck_app{
	background-color: #F2F2F2;
	overflow: auto;
}
#hasHandled .MaterialCheck_app .boxes-info{
	margin-top: 0.6rem;
	background: #fff;
	position: relative;
}
#hasHandled .app-box{
	padding: 0.5em 0.8rem;
	box-sizing: border-box;
}
#hasHandled .app-box>div{
	float: left;
	height: 1.2rem;
}
#hasHandled .box-left{
	width: 14%;
	color: #949494;
	font-weight: 600;
}
#hasHandled .box-middle{
	width: 76%;
	font-weight: bolder;
}
.box-arrow-right{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(0,-50%);
	width: 1rem;
	height: 1rem;
	background: url('../images/right.jpg') no-repeat center center;
	background-size: cover;
}
/* 已处理的 e */
/* 异常管理 s */
#unusualManagement .MaterialCheck_app{
	background-color: #F2F2F2;
	height: 93%;
	overflow: auto;
}
#unusualManagement .MaterialCheck_app .boxes-info{
	margin-top: 0.6rem;
	background: #fff;
	position: relative;
	padding-bottom: 0.6rem;
}
#unusualManagement .app-box{
	padding: 0.6em 0.8rem 0;
	box-sizing: border-box;
}
#unusualManagement .app-box>div{
	float: left;
	height: 1.2rem;
	line-height: 1.2rem;
}
#unusualManagement .app-box:last-child>div:nth-child(2){
	height: auto;
	line-height: 1.5rem;
}
#unusualManagement .box-left{
	width: 14%;
	color: #949494;
	font-weight: 600;
}
#unusualManagement .box-middle{
	width: 86%;
	font-weight: bolder;
}

#unusualManagement .unusual-footer{
	height: 7%;
	background-color: white;
}
#unusualManagement .unusual-footer>div{
	width: 50%;
	height: 60%;
	float: left;
	position: relative;
	top: 20%;
	box-sizing: border-box;
	border-right: 1px solid;
}
#unusualManagement .unusual-footer>div.style-active{
	color: #1DACF9;
}
.box-clearfix:after{
	display: block;
	content: '';
	clear: both;
}
.flex-center-tv{
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 异常管理 e */
/* 新建管理 e */
#newUsual .MaterialCheck_app{
	background-color: #F2F2F2;
	height: 93%;
	overflow: auto;
}
#newUsual .MaterialCheck_app .boxes-info{
	margin-top: 0.6rem;
	background: #fff;
	position: relative;
	padding-bottom: 0.6rem;
}
#newUsual .app-box{
	padding: 0.6em 0.8rem 0;
	box-sizing: border-box;
}
#newUsual .app-box>div{
	float: left;
	line-height: 1.2rem;
}
#newUsual .app-box-last{
	height: auto;
}
#newUsual .box-left{
	width: 14%;
	color: #949494;
	font-weight: 600;
}
#newUsual .box-middle{
	width: 76%;
	font-weight: bolder;
}
#newUsual .app-box-last textarea{
	border-style: none;
}

#newUsual .select-footer{
	height: 7%;
}
/* 新建管理 e */
